<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @baz61.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @baz61.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @baz61.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @baz61.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @baz61.foo5 %>
</p>

<%= link_to 'Edit', edit_baz61_path(@baz61) %> |
<%= link_to 'Back', baz61s_path %>
