<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @baz7.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @baz7.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @baz7.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @baz7.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @baz7.foo5 %>
</p>

<%= link_to 'Edit', edit_baz7_path(@baz7) %> |
<%= link_to 'Back', baz7s_path %>
