<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @baz70.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @baz70.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @baz70.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @baz70.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @baz70.foo5 %>
</p>

<%= link_to 'Edit', edit_baz70_path(@baz70) %> |
<%= link_to 'Back', baz70s_path %>
