<p id="notice"><%= notice %></p>

<h1>Foo17s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foo17s.each do |foo17| %>
      <tr>
        <td><%= foo17.foo1 %></td>
        <td><%= foo17.foo2 %></td>
        <td><%= foo17.foo3 %></td>
        <td><%= foo17.foo4 %></td>
        <td><%= foo17.foo5 %></td>
        <td><%= link_to 'Show', foo17 %></td>
        <td><%= link_to 'Edit', edit_foo17_path(foo17) %></td>
        <td><%= link_to 'Destroy', foo17, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foo17', new_foo17_path %>
