<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @foo51.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @foo51.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @foo51.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @foo51.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @foo51.foo5 %>
</p>

<%= link_to 'Edit', edit_foo51_path(@foo51) %> |
<%= link_to 'Back', foo51s_path %>
