<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @foo31.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @foo31.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @foo31.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @foo31.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @foo31.foo5 %>
</p>

<%= link_to 'Edit', edit_foo31_path(@foo31) %> |
<%= link_to 'Back', foo31s_path %>
