<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @bar71.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @bar71.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @bar71.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @bar71.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @bar71.foo5 %>
</p>

<%= link_to 'Edit', edit_bar71_path(@bar71) %> |
<%= link_to 'Back', bar71s_path %>
