<p id="notice"><%= notice %></p>

<h1>Foo61s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foo61s.each do |foo61| %>
      <tr>
        <td><%= foo61.foo1 %></td>
        <td><%= foo61.foo2 %></td>
        <td><%= foo61.foo3 %></td>
        <td><%= foo61.foo4 %></td>
        <td><%= foo61.foo5 %></td>
        <td><%= link_to 'Show', foo61 %></td>
        <td><%= link_to 'Edit', edit_foo61_path(foo61) %></td>
        <td><%= link_to 'Destroy', foo61, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foo61', new_foo61_path %>
