<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @baz21.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @baz21.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @baz21.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @baz21.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @baz21.foo5 %>
</p>

<%= link_to 'Edit', edit_baz21_path(@baz21) %> |
<%= link_to 'Back', baz21s_path %>
