<p id="notice"><%= notice %></p>

<h1>Foo94s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foo94s.each do |foo94| %>
      <tr>
        <td><%= foo94.foo1 %></td>
        <td><%= foo94.foo2 %></td>
        <td><%= foo94.foo3 %></td>
        <td><%= foo94.foo4 %></td>
        <td><%= foo94.foo5 %></td>
        <td><%= link_to 'Show', foo94 %></td>
        <td><%= link_to 'Edit', edit_foo94_path(foo94) %></td>
        <td><%= link_to 'Destroy', foo94, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foo94', new_foo94_path %>
