<p id="notice"><%= notice %></p>

<h1>Foo71s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foo71s.each do |foo71| %>
      <tr>
        <td><%= foo71.foo1 %></td>
        <td><%= foo71.foo2 %></td>
        <td><%= foo71.foo3 %></td>
        <td><%= foo71.foo4 %></td>
        <td><%= foo71.foo5 %></td>
        <td><%= link_to 'Show', foo71 %></td>
        <td><%= link_to 'Edit', edit_foo71_path(foo71) %></td>
        <td><%= link_to 'Destroy', foo71, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foo71', new_foo71_path %>
