<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @foo71.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @foo71.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @foo71.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @foo71.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @foo71.foo5 %>
</p>

<%= link_to 'Edit', edit_foo71_path(@foo71) %> |
<%= link_to 'Back', foo71s_path %>
