<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @bar19.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @bar19.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @bar19.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @bar19.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @bar19.foo5 %>
</p>

<%= link_to 'Edit', edit_bar19_path(@bar19) %> |
<%= link_to 'Back', bar19s_path %>
