<p id="notice"><%= notice %></p>

<h1>Baz28s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @baz28s.each do |baz28| %>
      <tr>
        <td><%= baz28.foo1 %></td>
        <td><%= baz28.foo2 %></td>
        <td><%= baz28.foo3 %></td>
        <td><%= baz28.foo4 %></td>
        <td><%= baz28.foo5 %></td>
        <td><%= link_to 'Show', baz28 %></td>
        <td><%= link_to 'Edit', edit_baz28_path(baz28) %></td>
        <td><%= link_to 'Destroy', baz28, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Baz28', new_baz28_path %>
