<p id="notice"><%= notice %></p>

<h1>Bar14s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bar14s.each do |bar14| %>
      <tr>
        <td><%= bar14.foo1 %></td>
        <td><%= bar14.foo2 %></td>
        <td><%= bar14.foo3 %></td>
        <td><%= bar14.foo4 %></td>
        <td><%= bar14.foo5 %></td>
        <td><%= link_to 'Show', bar14 %></td>
        <td><%= link_to 'Edit', edit_bar14_path(bar14) %></td>
        <td><%= link_to 'Destroy', bar14, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bar14', new_bar14_path %>
