<p id="notice"><%= notice %></p>

<h1>Foo92s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foo92s.each do |foo92| %>
      <tr>
        <td><%= foo92.foo1 %></td>
        <td><%= foo92.foo2 %></td>
        <td><%= foo92.foo3 %></td>
        <td><%= foo92.foo4 %></td>
        <td><%= foo92.foo5 %></td>
        <td><%= link_to 'Show', foo92 %></td>
        <td><%= link_to 'Edit', edit_foo92_path(foo92) %></td>
        <td><%= link_to 'Destroy', foo92, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foo92', new_foo92_path %>
