<p id="notice"><%= notice %></p>

<h1>Bar53s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bar53s.each do |bar53| %>
      <tr>
        <td><%= bar53.foo1 %></td>
        <td><%= bar53.foo2 %></td>
        <td><%= bar53.foo3 %></td>
        <td><%= bar53.foo4 %></td>
        <td><%= bar53.foo5 %></td>
        <td><%= link_to 'Show', bar53 %></td>
        <td><%= link_to 'Edit', edit_bar53_path(bar53) %></td>
        <td><%= link_to 'Destroy', bar53, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bar53', new_bar53_path %>
