<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @bar53.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @bar53.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @bar53.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @bar53.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @bar53.foo5 %>
</p>

<%= link_to 'Edit', edit_bar53_path(@bar53) %> |
<%= link_to 'Back', bar53s_path %>
