<p id="notice"><%= notice %></p>

<h1>Baz32s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @baz32s.each do |baz32| %>
      <tr>
        <td><%= baz32.foo1 %></td>
        <td><%= baz32.foo2 %></td>
        <td><%= baz32.foo3 %></td>
        <td><%= baz32.foo4 %></td>
        <td><%= baz32.foo5 %></td>
        <td><%= link_to 'Show', baz32 %></td>
        <td><%= link_to 'Edit', edit_baz32_path(baz32) %></td>
        <td><%= link_to 'Destroy', baz32, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Baz32', new_baz32_path %>
