<p id="notice"><%= notice %></p>

<h1>Bar33s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bar33s.each do |bar33| %>
      <tr>
        <td><%= bar33.foo1 %></td>
        <td><%= bar33.foo2 %></td>
        <td><%= bar33.foo3 %></td>
        <td><%= bar33.foo4 %></td>
        <td><%= bar33.foo5 %></td>
        <td><%= link_to 'Show', bar33 %></td>
        <td><%= link_to 'Edit', edit_bar33_path(bar33) %></td>
        <td><%= link_to 'Destroy', bar33, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bar33', new_bar33_path %>
