<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @foo85.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @foo85.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @foo85.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @foo85.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @foo85.foo5 %>
</p>

<%= link_to 'Edit', edit_foo85_path(@foo85) %> |
<%= link_to 'Back', foo85s_path %>
