<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @baz89.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @baz89.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @baz89.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @baz89.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @baz89.foo5 %>
</p>

<%= link_to 'Edit', edit_baz89_path(@baz89) %> |
<%= link_to 'Back', baz89s_path %>
