<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @baz72.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @baz72.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @baz72.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @baz72.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @baz72.foo5 %>
</p>

<%= link_to 'Edit', edit_baz72_path(@baz72) %> |
<%= link_to 'Back', baz72s_path %>
