<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @foo28.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @foo28.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @foo28.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @foo28.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @foo28.foo5 %>
</p>

<%= link_to 'Edit', edit_foo28_path(@foo28) %> |
<%= link_to 'Back', foo28s_path %>
