<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @bar22.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @bar22.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @bar22.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @bar22.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @bar22.foo5 %>
</p>

<%= link_to 'Edit', edit_bar22_path(@bar22) %> |
<%= link_to 'Back', bar22s_path %>
