<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @baz5.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @baz5.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @baz5.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @baz5.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @baz5.foo5 %>
</p>

<%= link_to 'Edit', edit_baz5_path(@baz5) %> |
<%= link_to 'Back', baz5s_path %>
