<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @bar35.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @bar35.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @bar35.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @bar35.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @bar35.foo5 %>
</p>

<%= link_to 'Edit', edit_bar35_path(@bar35) %> |
<%= link_to 'Back', bar35s_path %>
