<p id="notice"><%= notice %></p>

<h1>Foo81s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foo81s.each do |foo81| %>
      <tr>
        <td><%= foo81.foo1 %></td>
        <td><%= foo81.foo2 %></td>
        <td><%= foo81.foo3 %></td>
        <td><%= foo81.foo4 %></td>
        <td><%= foo81.foo5 %></td>
        <td><%= link_to 'Show', foo81 %></td>
        <td><%= link_to 'Edit', edit_foo81_path(foo81) %></td>
        <td><%= link_to 'Destroy', foo81, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foo81', new_foo81_path %>
