<p id="notice"><%= notice %></p>

<h1>Foo56s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foo56s.each do |foo56| %>
      <tr>
        <td><%= foo56.foo1 %></td>
        <td><%= foo56.foo2 %></td>
        <td><%= foo56.foo3 %></td>
        <td><%= foo56.foo4 %></td>
        <td><%= foo56.foo5 %></td>
        <td><%= link_to 'Show', foo56 %></td>
        <td><%= link_to 'Edit', edit_foo56_path(foo56) %></td>
        <td><%= link_to 'Destroy', foo56, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foo56', new_foo56_path %>
