<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @foo56.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @foo56.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @foo56.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @foo56.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @foo56.foo5 %>
</p>

<%= link_to 'Edit', edit_foo56_path(@foo56) %> |
<%= link_to 'Back', foo56s_path %>
