<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @bar67.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @bar67.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @bar67.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @bar67.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @bar67.foo5 %>
</p>

<%= link_to 'Edit', edit_bar67_path(@bar67) %> |
<%= link_to 'Back', bar67s_path %>
