<p id="notice"><%= notice %></p>

<h1>Bar97s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bar97s.each do |bar97| %>
      <tr>
        <td><%= bar97.foo1 %></td>
        <td><%= bar97.foo2 %></td>
        <td><%= bar97.foo3 %></td>
        <td><%= bar97.foo4 %></td>
        <td><%= bar97.foo5 %></td>
        <td><%= link_to 'Show', bar97 %></td>
        <td><%= link_to 'Edit', edit_bar97_path(bar97) %></td>
        <td><%= link_to 'Destroy', bar97, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bar97', new_bar97_path %>
