<p id="notice"><%= notice %></p>

<h1>Bar54s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bar54s.each do |bar54| %>
      <tr>
        <td><%= bar54.foo1 %></td>
        <td><%= bar54.foo2 %></td>
        <td><%= bar54.foo3 %></td>
        <td><%= bar54.foo4 %></td>
        <td><%= bar54.foo5 %></td>
        <td><%= link_to 'Show', bar54 %></td>
        <td><%= link_to 'Edit', edit_bar54_path(bar54) %></td>
        <td><%= link_to 'Destroy', bar54, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bar54', new_bar54_path %>
