<p id="notice"><%= notice %></p>

<h1>Baz77s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @baz77s.each do |baz77| %>
      <tr>
        <td><%= baz77.foo1 %></td>
        <td><%= baz77.foo2 %></td>
        <td><%= baz77.foo3 %></td>
        <td><%= baz77.foo4 %></td>
        <td><%= baz77.foo5 %></td>
        <td><%= link_to 'Show', baz77 %></td>
        <td><%= link_to 'Edit', edit_baz77_path(baz77) %></td>
        <td><%= link_to 'Destroy', baz77, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Baz77', new_baz77_path %>
