<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @bar95.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @bar95.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @bar95.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @bar95.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @bar95.foo5 %>
</p>

<%= link_to 'Edit', edit_bar95_path(@bar95) %> |
<%= link_to 'Back', bar95s_path %>
