<p id="notice"><%= notice %></p>

<h1>Bar37s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bar37s.each do |bar37| %>
      <tr>
        <td><%= bar37.foo1 %></td>
        <td><%= bar37.foo2 %></td>
        <td><%= bar37.foo3 %></td>
        <td><%= bar37.foo4 %></td>
        <td><%= bar37.foo5 %></td>
        <td><%= link_to 'Show', bar37 %></td>
        <td><%= link_to 'Edit', edit_bar37_path(bar37) %></td>
        <td><%= link_to 'Destroy', bar37, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bar37', new_bar37_path %>
