<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @bar49.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @bar49.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @bar49.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @bar49.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @bar49.foo5 %>
</p>

<%= link_to 'Edit', edit_bar49_path(@bar49) %> |
<%= link_to 'Back', bar49s_path %>
