<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @bar38.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @bar38.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @bar38.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @bar38.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @bar38.foo5 %>
</p>

<%= link_to 'Edit', edit_bar38_path(@bar38) %> |
<%= link_to 'Back', bar38s_path %>
