<p id="notice"><%= notice %></p>

<h1>Baz66s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @baz66s.each do |baz66| %>
      <tr>
        <td><%= baz66.foo1 %></td>
        <td><%= baz66.foo2 %></td>
        <td><%= baz66.foo3 %></td>
        <td><%= baz66.foo4 %></td>
        <td><%= baz66.foo5 %></td>
        <td><%= link_to 'Show', baz66 %></td>
        <td><%= link_to 'Edit', edit_baz66_path(baz66) %></td>
        <td><%= link_to 'Destroy', baz66, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Baz66', new_baz66_path %>
