<p id="notice"><%= notice %></p>

<h1>Foo34s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foo34s.each do |foo34| %>
      <tr>
        <td><%= foo34.foo1 %></td>
        <td><%= foo34.foo2 %></td>
        <td><%= foo34.foo3 %></td>
        <td><%= foo34.foo4 %></td>
        <td><%= foo34.foo5 %></td>
        <td><%= link_to 'Show', foo34 %></td>
        <td><%= link_to 'Edit', edit_foo34_path(foo34) %></td>
        <td><%= link_to 'Destroy', foo34, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foo34', new_foo34_path %>
