<p id="notice"><%= notice %></p>

<h1>Bar62s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bar62s.each do |bar62| %>
      <tr>
        <td><%= bar62.foo1 %></td>
        <td><%= bar62.foo2 %></td>
        <td><%= bar62.foo3 %></td>
        <td><%= bar62.foo4 %></td>
        <td><%= bar62.foo5 %></td>
        <td><%= link_to 'Show', bar62 %></td>
        <td><%= link_to 'Edit', edit_bar62_path(bar62) %></td>
        <td><%= link_to 'Destroy', bar62, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bar62', new_bar62_path %>
