<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @bar62.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @bar62.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @bar62.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @bar62.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @bar62.foo5 %>
</p>

<%= link_to 'Edit', edit_bar62_path(@bar62) %> |
<%= link_to 'Back', bar62s_path %>
