<p id="notice"><%= notice %></p>

<h1>Foo12s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foo12s.each do |foo12| %>
      <tr>
        <td><%= foo12.foo1 %></td>
        <td><%= foo12.foo2 %></td>
        <td><%= foo12.foo3 %></td>
        <td><%= foo12.foo4 %></td>
        <td><%= foo12.foo5 %></td>
        <td><%= link_to 'Show', foo12 %></td>
        <td><%= link_to 'Edit', edit_foo12_path(foo12) %></td>
        <td><%= link_to 'Destroy', foo12, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foo12', new_foo12_path %>
