<p id="notice"><%= notice %></p>

<h1>Baz49s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @baz49s.each do |baz49| %>
      <tr>
        <td><%= baz49.foo1 %></td>
        <td><%= baz49.foo2 %></td>
        <td><%= baz49.foo3 %></td>
        <td><%= baz49.foo4 %></td>
        <td><%= baz49.foo5 %></td>
        <td><%= link_to 'Show', baz49 %></td>
        <td><%= link_to 'Edit', edit_baz49_path(baz49) %></td>
        <td><%= link_to 'Destroy', baz49, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Baz49', new_baz49_path %>
