<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @baz49.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @baz49.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @baz49.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @baz49.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @baz49.foo5 %>
</p>

<%= link_to 'Edit', edit_baz49_path(@baz49) %> |
<%= link_to 'Back', baz49s_path %>
