<p id="notice"><%= notice %></p>

<h1>Baz95s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @baz95s.each do |baz95| %>
      <tr>
        <td><%= baz95.foo1 %></td>
        <td><%= baz95.foo2 %></td>
        <td><%= baz95.foo3 %></td>
        <td><%= baz95.foo4 %></td>
        <td><%= baz95.foo5 %></td>
        <td><%= link_to 'Show', baz95 %></td>
        <td><%= link_to 'Edit', edit_baz95_path(baz95) %></td>
        <td><%= link_to 'Destroy', baz95, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Baz95', new_baz95_path %>
