<p id="notice"><%= notice %></p>

<h1>Baz91s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @baz91s.each do |baz91| %>
      <tr>
        <td><%= baz91.foo1 %></td>
        <td><%= baz91.foo2 %></td>
        <td><%= baz91.foo3 %></td>
        <td><%= baz91.foo4 %></td>
        <td><%= baz91.foo5 %></td>
        <td><%= link_to 'Show', baz91 %></td>
        <td><%= link_to 'Edit', edit_baz91_path(baz91) %></td>
        <td><%= link_to 'Destroy', baz91, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Baz91', new_baz91_path %>
