<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @foo47.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @foo47.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @foo47.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @foo47.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @foo47.foo5 %>
</p>

<%= link_to 'Edit', edit_foo47_path(@foo47) %> |
<%= link_to 'Back', foo47s_path %>
