<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @bar84.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @bar84.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @bar84.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @bar84.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @bar84.foo5 %>
</p>

<%= link_to 'Edit', edit_bar84_path(@bar84) %> |
<%= link_to 'Back', bar84s_path %>
