<p id="notice"><%= notice %></p>

<h1>Foo39s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foo39s.each do |foo39| %>
      <tr>
        <td><%= foo39.foo1 %></td>
        <td><%= foo39.foo2 %></td>
        <td><%= foo39.foo3 %></td>
        <td><%= foo39.foo4 %></td>
        <td><%= foo39.foo5 %></td>
        <td><%= link_to 'Show', foo39 %></td>
        <td><%= link_to 'Edit', edit_foo39_path(foo39) %></td>
        <td><%= link_to 'Destroy', foo39, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foo39', new_foo39_path %>
