<p id="notice"><%= notice %></p>

<h1>Baz79s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @baz79s.each do |baz79| %>
      <tr>
        <td><%= baz79.foo1 %></td>
        <td><%= baz79.foo2 %></td>
        <td><%= baz79.foo3 %></td>
        <td><%= baz79.foo4 %></td>
        <td><%= baz79.foo5 %></td>
        <td><%= link_to 'Show', baz79 %></td>
        <td><%= link_to 'Edit', edit_baz79_path(baz79) %></td>
        <td><%= link_to 'Destroy', baz79, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Baz79', new_baz79_path %>
