<p id="notice"><%= notice %></p>

<h1>Foo29s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foo29s.each do |foo29| %>
      <tr>
        <td><%= foo29.foo1 %></td>
        <td><%= foo29.foo2 %></td>
        <td><%= foo29.foo3 %></td>
        <td><%= foo29.foo4 %></td>
        <td><%= foo29.foo5 %></td>
        <td><%= link_to 'Show', foo29 %></td>
        <td><%= link_to 'Edit', edit_foo29_path(foo29) %></td>
        <td><%= link_to 'Destroy', foo29, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foo29', new_foo29_path %>
