<p id="notice"><%= notice %></p>

<h1>Foo33s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foo33s.each do |foo33| %>
      <tr>
        <td><%= foo33.foo1 %></td>
        <td><%= foo33.foo2 %></td>
        <td><%= foo33.foo3 %></td>
        <td><%= foo33.foo4 %></td>
        <td><%= foo33.foo5 %></td>
        <td><%= link_to 'Show', foo33 %></td>
        <td><%= link_to 'Edit', edit_foo33_path(foo33) %></td>
        <td><%= link_to 'Destroy', foo33, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foo33', new_foo33_path %>
