<p id="notice"><%= notice %></p>

<h1>Foo93s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foo93s.each do |foo93| %>
      <tr>
        <td><%= foo93.foo1 %></td>
        <td><%= foo93.foo2 %></td>
        <td><%= foo93.foo3 %></td>
        <td><%= foo93.foo4 %></td>
        <td><%= foo93.foo5 %></td>
        <td><%= link_to 'Show', foo93 %></td>
        <td><%= link_to 'Edit', edit_foo93_path(foo93) %></td>
        <td><%= link_to 'Destroy', foo93, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foo93', new_foo93_path %>
