<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @baz64.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @baz64.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @baz64.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @baz64.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @baz64.foo5 %>
</p>

<%= link_to 'Edit', edit_baz64_path(@baz64) %> |
<%= link_to 'Back', baz64s_path %>
