<p id="notice"><%= notice %></p>

<h1>Foo100s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foo100s.each do |foo100| %>
      <tr>
        <td><%= foo100.foo1 %></td>
        <td><%= foo100.foo2 %></td>
        <td><%= foo100.foo3 %></td>
        <td><%= foo100.foo4 %></td>
        <td><%= foo100.foo5 %></td>
        <td><%= link_to 'Show', foo100 %></td>
        <td><%= link_to 'Edit', edit_foo100_path(foo100) %></td>
        <td><%= link_to 'Destroy', foo100, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foo100', new_foo100_path %>
