<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @bar76.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @bar76.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @bar76.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @bar76.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @bar76.foo5 %>
</p>

<%= link_to 'Edit', edit_bar76_path(@bar76) %> |
<%= link_to 'Back', bar76s_path %>
