<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @baz36.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @baz36.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @baz36.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @baz36.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @baz36.foo5 %>
</p>

<%= link_to 'Edit', edit_baz36_path(@baz36) %> |
<%= link_to 'Back', baz36s_path %>
