<p id="notice"><%= notice %></p>

<h1>Bar90s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bar90s.each do |bar90| %>
      <tr>
        <td><%= bar90.foo1 %></td>
        <td><%= bar90.foo2 %></td>
        <td><%= bar90.foo3 %></td>
        <td><%= bar90.foo4 %></td>
        <td><%= bar90.foo5 %></td>
        <td><%= link_to 'Show', bar90 %></td>
        <td><%= link_to 'Edit', edit_bar90_path(bar90) %></td>
        <td><%= link_to 'Destroy', bar90, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bar90', new_bar90_path %>
