<p id="notice"><%= notice %></p>

<h1>Bar1s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bar1s.each do |bar1| %>
      <tr>
        <td><%= bar1.foo1 %></td>
        <td><%= bar1.foo2 %></td>
        <td><%= bar1.foo3 %></td>
        <td><%= bar1.foo4 %></td>
        <td><%= bar1.foo5 %></td>
        <td><%= link_to 'Show', bar1 %></td>
        <td><%= link_to 'Edit', edit_bar1_path(bar1) %></td>
        <td><%= link_to 'Destroy', bar1, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bar1', new_bar1_path %>
