<p id="notice"><%= notice %></p>

<h1>Foo75s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foo75s.each do |foo75| %>
      <tr>
        <td><%= foo75.foo1 %></td>
        <td><%= foo75.foo2 %></td>
        <td><%= foo75.foo3 %></td>
        <td><%= foo75.foo4 %></td>
        <td><%= foo75.foo5 %></td>
        <td><%= link_to 'Show', foo75 %></td>
        <td><%= link_to 'Edit', edit_foo75_path(foo75) %></td>
        <td><%= link_to 'Destroy', foo75, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foo75', new_foo75_path %>
