<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @baz43.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @baz43.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @baz43.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @baz43.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @baz43.foo5 %>
</p>

<%= link_to 'Edit', edit_baz43_path(@baz43) %> |
<%= link_to 'Back', baz43s_path %>
