<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @bar17.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @bar17.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @bar17.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @bar17.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @bar17.foo5 %>
</p>

<%= link_to 'Edit', edit_bar17_path(@bar17) %> |
<%= link_to 'Back', bar17s_path %>
