<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @bar43.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @bar43.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @bar43.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @bar43.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @bar43.foo5 %>
</p>

<%= link_to 'Edit', edit_bar43_path(@bar43) %> |
<%= link_to 'Back', bar43s_path %>
