<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @foo67.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @foo67.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @foo67.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @foo67.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @foo67.foo5 %>
</p>

<%= link_to 'Edit', edit_foo67_path(@foo67) %> |
<%= link_to 'Back', foo67s_path %>
