<p id="notice"><%= notice %></p>

<h1>Baz16s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @baz16s.each do |baz16| %>
      <tr>
        <td><%= baz16.foo1 %></td>
        <td><%= baz16.foo2 %></td>
        <td><%= baz16.foo3 %></td>
        <td><%= baz16.foo4 %></td>
        <td><%= baz16.foo5 %></td>
        <td><%= link_to 'Show', baz16 %></td>
        <td><%= link_to 'Edit', edit_baz16_path(baz16) %></td>
        <td><%= link_to 'Destroy', baz16, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Baz16', new_baz16_path %>
