<p id="notice"><%= notice %></p>

<h1>Foo83s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foo83s.each do |foo83| %>
      <tr>
        <td><%= foo83.foo1 %></td>
        <td><%= foo83.foo2 %></td>
        <td><%= foo83.foo3 %></td>
        <td><%= foo83.foo4 %></td>
        <td><%= foo83.foo5 %></td>
        <td><%= link_to 'Show', foo83 %></td>
        <td><%= link_to 'Edit', edit_foo83_path(foo83) %></td>
        <td><%= link_to 'Destroy', foo83, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foo83', new_foo83_path %>
