<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @foo83.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @foo83.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @foo83.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @foo83.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @foo83.foo5 %>
</p>

<%= link_to 'Edit', edit_foo83_path(@foo83) %> |
<%= link_to 'Back', foo83s_path %>
