<p id="notice"><%= notice %></p>

<h1>Foo88s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foo88s.each do |foo88| %>
      <tr>
        <td><%= foo88.foo1 %></td>
        <td><%= foo88.foo2 %></td>
        <td><%= foo88.foo3 %></td>
        <td><%= foo88.foo4 %></td>
        <td><%= foo88.foo5 %></td>
        <td><%= link_to 'Show', foo88 %></td>
        <td><%= link_to 'Edit', edit_foo88_path(foo88) %></td>
        <td><%= link_to 'Destroy', foo88, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foo88', new_foo88_path %>
