<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @foo62.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @foo62.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @foo62.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @foo62.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @foo62.foo5 %>
</p>

<%= link_to 'Edit', edit_foo62_path(@foo62) %> |
<%= link_to 'Back', foo62s_path %>
