<p id="notice"><%= notice %></p>

<h1>Foo11s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foo11s.each do |foo11| %>
      <tr>
        <td><%= foo11.foo1 %></td>
        <td><%= foo11.foo2 %></td>
        <td><%= foo11.foo3 %></td>
        <td><%= foo11.foo4 %></td>
        <td><%= foo11.foo5 %></td>
        <td><%= link_to 'Show', foo11 %></td>
        <td><%= link_to 'Edit', edit_foo11_path(foo11) %></td>
        <td><%= link_to 'Destroy', foo11, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foo11', new_foo11_path %>
