<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @foo11.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @foo11.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @foo11.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @foo11.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @foo11.foo5 %>
</p>

<%= link_to 'Edit', edit_foo11_path(@foo11) %> |
<%= link_to 'Back', foo11s_path %>
