<p id="notice"><%= notice %></p>

<h1>Foo82s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foo82s.each do |foo82| %>
      <tr>
        <td><%= foo82.foo1 %></td>
        <td><%= foo82.foo2 %></td>
        <td><%= foo82.foo3 %></td>
        <td><%= foo82.foo4 %></td>
        <td><%= foo82.foo5 %></td>
        <td><%= link_to 'Show', foo82 %></td>
        <td><%= link_to 'Edit', edit_foo82_path(foo82) %></td>
        <td><%= link_to 'Destroy', foo82, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foo82', new_foo82_path %>
