<p id="notice"><%= notice %></p>

<h1>Foo89s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foo89s.each do |foo89| %>
      <tr>
        <td><%= foo89.foo1 %></td>
        <td><%= foo89.foo2 %></td>
        <td><%= foo89.foo3 %></td>
        <td><%= foo89.foo4 %></td>
        <td><%= foo89.foo5 %></td>
        <td><%= link_to 'Show', foo89 %></td>
        <td><%= link_to 'Edit', edit_foo89_path(foo89) %></td>
        <td><%= link_to 'Destroy', foo89, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foo89', new_foo89_path %>
