<p id="notice"><%= notice %></p>

<h1>Foo97s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foo97s.each do |foo97| %>
      <tr>
        <td><%= foo97.foo1 %></td>
        <td><%= foo97.foo2 %></td>
        <td><%= foo97.foo3 %></td>
        <td><%= foo97.foo4 %></td>
        <td><%= foo97.foo5 %></td>
        <td><%= link_to 'Show', foo97 %></td>
        <td><%= link_to 'Edit', edit_foo97_path(foo97) %></td>
        <td><%= link_to 'Destroy', foo97, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foo97', new_foo97_path %>
