<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @bar2.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @bar2.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @bar2.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @bar2.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @bar2.foo5 %>
</p>

<%= link_to 'Edit', edit_bar2_path(@bar2) %> |
<%= link_to 'Back', bar2s_path %>
