<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @bar3.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @bar3.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @bar3.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @bar3.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @bar3.foo5 %>
</p>

<%= link_to 'Edit', edit_bar3_path(@bar3) %> |
<%= link_to 'Back', bar3s_path %>
