<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @baz46.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @baz46.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @baz46.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @baz46.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @baz46.foo5 %>
</p>

<%= link_to 'Edit', edit_baz46_path(@baz46) %> |
<%= link_to 'Back', baz46s_path %>
