<p id="notice"><%= notice %></p>

<h1>Baz10s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @baz10s.each do |baz10| %>
      <tr>
        <td><%= baz10.foo1 %></td>
        <td><%= baz10.foo2 %></td>
        <td><%= baz10.foo3 %></td>
        <td><%= baz10.foo4 %></td>
        <td><%= baz10.foo5 %></td>
        <td><%= link_to 'Show', baz10 %></td>
        <td><%= link_to 'Edit', edit_baz10_path(baz10) %></td>
        <td><%= link_to 'Destroy', baz10, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Baz10', new_baz10_path %>
