<p id="notice"><%= notice %></p>

<h1>Foo58s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foo58s.each do |foo58| %>
      <tr>
        <td><%= foo58.foo1 %></td>
        <td><%= foo58.foo2 %></td>
        <td><%= foo58.foo3 %></td>
        <td><%= foo58.foo4 %></td>
        <td><%= foo58.foo5 %></td>
        <td><%= link_to 'Show', foo58 %></td>
        <td><%= link_to 'Edit', edit_foo58_path(foo58) %></td>
        <td><%= link_to 'Destroy', foo58, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foo58', new_foo58_path %>
