<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @foo58.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @foo58.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @foo58.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @foo58.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @foo58.foo5 %>
</p>

<%= link_to 'Edit', edit_foo58_path(@foo58) %> |
<%= link_to 'Back', foo58s_path %>
