<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @bar81.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @bar81.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @bar81.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @bar81.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @bar81.foo5 %>
</p>

<%= link_to 'Edit', edit_bar81_path(@bar81) %> |
<%= link_to 'Back', bar81s_path %>
