<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @baz48.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @baz48.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @baz48.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @baz48.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @baz48.foo5 %>
</p>

<%= link_to 'Edit', edit_baz48_path(@baz48) %> |
<%= link_to 'Back', baz48s_path %>
