<p id="notice"><%= notice %></p>

<h1>Baz96s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @baz96s.each do |baz96| %>
      <tr>
        <td><%= baz96.foo1 %></td>
        <td><%= baz96.foo2 %></td>
        <td><%= baz96.foo3 %></td>
        <td><%= baz96.foo4 %></td>
        <td><%= baz96.foo5 %></td>
        <td><%= link_to 'Show', baz96 %></td>
        <td><%= link_to 'Edit', edit_baz96_path(baz96) %></td>
        <td><%= link_to 'Destroy', baz96, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Baz96', new_baz96_path %>
