<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @foo6.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @foo6.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @foo6.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @foo6.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @foo6.foo5 %>
</p>

<%= link_to 'Edit', edit_foo6_path(@foo6) %> |
<%= link_to 'Back', foo6s_path %>
