<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @foo.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @foo.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @foo.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @foo.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @foo.foo5 %>
</p>

<%= link_to 'Edit', edit_foo_path(@foo) %> |
<%= link_to 'Back', foos_path %>
