<p id="notice"><%= notice %></p>

<h1>Bar63s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bar63s.each do |bar63| %>
      <tr>
        <td><%= bar63.foo1 %></td>
        <td><%= bar63.foo2 %></td>
        <td><%= bar63.foo3 %></td>
        <td><%= bar63.foo4 %></td>
        <td><%= bar63.foo5 %></td>
        <td><%= link_to 'Show', bar63 %></td>
        <td><%= link_to 'Edit', edit_bar63_path(bar63) %></td>
        <td><%= link_to 'Destroy', bar63, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bar63', new_bar63_path %>
