<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @bar63.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @bar63.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @bar63.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @bar63.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @bar63.foo5 %>
</p>

<%= link_to 'Edit', edit_bar63_path(@bar63) %> |
<%= link_to 'Back', bar63s_path %>
