<p id="notice"><%= notice %></p>

<h1>Foo19s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foo19s.each do |foo19| %>
      <tr>
        <td><%= foo19.foo1 %></td>
        <td><%= foo19.foo2 %></td>
        <td><%= foo19.foo3 %></td>
        <td><%= foo19.foo4 %></td>
        <td><%= foo19.foo5 %></td>
        <td><%= link_to 'Show', foo19 %></td>
        <td><%= link_to 'Edit', edit_foo19_path(foo19) %></td>
        <td><%= link_to 'Destroy', foo19, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foo19', new_foo19_path %>
