<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @baz26.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @baz26.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @baz26.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @baz26.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @baz26.foo5 %>
</p>

<%= link_to 'Edit', edit_baz26_path(@baz26) %> |
<%= link_to 'Back', baz26s_path %>
