<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @baz76.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @baz76.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @baz76.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @baz76.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @baz76.foo5 %>
</p>

<%= link_to 'Edit', edit_baz76_path(@baz76) %> |
<%= link_to 'Back', baz76s_path %>
