<p id="notice"><%= notice %></p>

<h1>Bar44s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bar44s.each do |bar44| %>
      <tr>
        <td><%= bar44.foo1 %></td>
        <td><%= bar44.foo2 %></td>
        <td><%= bar44.foo3 %></td>
        <td><%= bar44.foo4 %></td>
        <td><%= bar44.foo5 %></td>
        <td><%= link_to 'Show', bar44 %></td>
        <td><%= link_to 'Edit', edit_bar44_path(bar44) %></td>
        <td><%= link_to 'Destroy', bar44, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bar44', new_bar44_path %>
