<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @bar46.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @bar46.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @bar46.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @bar46.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @bar46.foo5 %>
</p>

<%= link_to 'Edit', edit_bar46_path(@bar46) %> |
<%= link_to 'Back', bar46s_path %>
