<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @baz60.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @baz60.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @baz60.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @baz60.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @baz60.foo5 %>
</p>

<%= link_to 'Edit', edit_baz60_path(@baz60) %> |
<%= link_to 'Back', baz60s_path %>
