<p id="notice"><%= notice %></p>

<h1>Baz68s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @baz68s.each do |baz68| %>
      <tr>
        <td><%= baz68.foo1 %></td>
        <td><%= baz68.foo2 %></td>
        <td><%= baz68.foo3 %></td>
        <td><%= baz68.foo4 %></td>
        <td><%= baz68.foo5 %></td>
        <td><%= link_to 'Show', baz68 %></td>
        <td><%= link_to 'Edit', edit_baz68_path(baz68) %></td>
        <td><%= link_to 'Destroy', baz68, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Baz68', new_baz68_path %>
