<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @baz68.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @baz68.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @baz68.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @baz68.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @baz68.foo5 %>
</p>

<%= link_to 'Edit', edit_baz68_path(@baz68) %> |
<%= link_to 'Back', baz68s_path %>
