<p id="notice"><%= notice %></p>

<h1>Baz62s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @baz62s.each do |baz62| %>
      <tr>
        <td><%= baz62.foo1 %></td>
        <td><%= baz62.foo2 %></td>
        <td><%= baz62.foo3 %></td>
        <td><%= baz62.foo4 %></td>
        <td><%= baz62.foo5 %></td>
        <td><%= link_to 'Show', baz62 %></td>
        <td><%= link_to 'Edit', edit_baz62_path(baz62) %></td>
        <td><%= link_to 'Destroy', baz62, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Baz62', new_baz62_path %>
