<p id="notice"><%= notice %></p>

<h1>Bar72s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bar72s.each do |bar72| %>
      <tr>
        <td><%= bar72.foo1 %></td>
        <td><%= bar72.foo2 %></td>
        <td><%= bar72.foo3 %></td>
        <td><%= bar72.foo4 %></td>
        <td><%= bar72.foo5 %></td>
        <td><%= link_to 'Show', bar72 %></td>
        <td><%= link_to 'Edit', edit_bar72_path(bar72) %></td>
        <td><%= link_to 'Destroy', bar72, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bar72', new_bar72_path %>
