<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @foo70.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @foo70.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @foo70.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @foo70.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @foo70.foo5 %>
</p>

<%= link_to 'Edit', edit_foo70_path(@foo70) %> |
<%= link_to 'Back', foo70s_path %>
