<p id="notice"><%= notice %></p>

<h1>Foo10s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foo10s.each do |foo10| %>
      <tr>
        <td><%= foo10.foo1 %></td>
        <td><%= foo10.foo2 %></td>
        <td><%= foo10.foo3 %></td>
        <td><%= foo10.foo4 %></td>
        <td><%= foo10.foo5 %></td>
        <td><%= link_to 'Show', foo10 %></td>
        <td><%= link_to 'Edit', edit_foo10_path(foo10) %></td>
        <td><%= link_to 'Destroy', foo10, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foo10', new_foo10_path %>
