<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @foo10.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @foo10.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @foo10.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @foo10.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @foo10.foo5 %>
</p>

<%= link_to 'Edit', edit_foo10_path(@foo10) %> |
<%= link_to 'Back', foo10s_path %>
