<p id="notice"><%= notice %></p>

<h1>Bar94s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bar94s.each do |bar94| %>
      <tr>
        <td><%= bar94.foo1 %></td>
        <td><%= bar94.foo2 %></td>
        <td><%= bar94.foo3 %></td>
        <td><%= bar94.foo4 %></td>
        <td><%= bar94.foo5 %></td>
        <td><%= link_to 'Show', bar94 %></td>
        <td><%= link_to 'Edit', edit_bar94_path(bar94) %></td>
        <td><%= link_to 'Destroy', bar94, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bar94', new_bar94_path %>
