<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @baz75.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @baz75.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @baz75.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @baz75.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @baz75.foo5 %>
</p>

<%= link_to 'Edit', edit_baz75_path(@baz75) %> |
<%= link_to 'Back', baz75s_path %>
