<p id="notice"><%= notice %></p>

<h1>Bar40s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bar40s.each do |bar40| %>
      <tr>
        <td><%= bar40.foo1 %></td>
        <td><%= bar40.foo2 %></td>
        <td><%= bar40.foo3 %></td>
        <td><%= bar40.foo4 %></td>
        <td><%= bar40.foo5 %></td>
        <td><%= link_to 'Show', bar40 %></td>
        <td><%= link_to 'Edit', edit_bar40_path(bar40) %></td>
        <td><%= link_to 'Destroy', bar40, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bar40', new_bar40_path %>
