<p id="notice"><%= notice %></p>

<h1>Foo45s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foo45s.each do |foo45| %>
      <tr>
        <td><%= foo45.foo1 %></td>
        <td><%= foo45.foo2 %></td>
        <td><%= foo45.foo3 %></td>
        <td><%= foo45.foo4 %></td>
        <td><%= foo45.foo5 %></td>
        <td><%= link_to 'Show', foo45 %></td>
        <td><%= link_to 'Edit', edit_foo45_path(foo45) %></td>
        <td><%= link_to 'Destroy', foo45, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foo45', new_foo45_path %>
