<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @foo30.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @foo30.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @foo30.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @foo30.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @foo30.foo5 %>
</p>

<%= link_to 'Edit', edit_foo30_path(@foo30) %> |
<%= link_to 'Back', foo30s_path %>
