<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @baz53.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @baz53.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @baz53.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @baz53.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @baz53.foo5 %>
</p>

<%= link_to 'Edit', edit_baz53_path(@baz53) %> |
<%= link_to 'Back', baz53s_path %>
