<p id="notice"><%= notice %></p>

<h1>Foo52s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foo52s.each do |foo52| %>
      <tr>
        <td><%= foo52.foo1 %></td>
        <td><%= foo52.foo2 %></td>
        <td><%= foo52.foo3 %></td>
        <td><%= foo52.foo4 %></td>
        <td><%= foo52.foo5 %></td>
        <td><%= link_to 'Show', foo52 %></td>
        <td><%= link_to 'Edit', edit_foo52_path(foo52) %></td>
        <td><%= link_to 'Destroy', foo52, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foo52', new_foo52_path %>
