<p id="notice"><%= notice %></p>

<h1>Baz69s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @baz69s.each do |baz69| %>
      <tr>
        <td><%= baz69.foo1 %></td>
        <td><%= baz69.foo2 %></td>
        <td><%= baz69.foo3 %></td>
        <td><%= baz69.foo4 %></td>
        <td><%= baz69.foo5 %></td>
        <td><%= link_to 'Show', baz69 %></td>
        <td><%= link_to 'Edit', edit_baz69_path(baz69) %></td>
        <td><%= link_to 'Destroy', baz69, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Baz69', new_baz69_path %>
