<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @bar6.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @bar6.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @bar6.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @bar6.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @bar6.foo5 %>
</p>

<%= link_to 'Edit', edit_bar6_path(@bar6) %> |
<%= link_to 'Back', bar6s_path %>
