<p id="notice"><%= notice %></p>

<h1>Foo60s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foo60s.each do |foo60| %>
      <tr>
        <td><%= foo60.foo1 %></td>
        <td><%= foo60.foo2 %></td>
        <td><%= foo60.foo3 %></td>
        <td><%= foo60.foo4 %></td>
        <td><%= foo60.foo5 %></td>
        <td><%= link_to 'Show', foo60 %></td>
        <td><%= link_to 'Edit', edit_foo60_path(foo60) %></td>
        <td><%= link_to 'Destroy', foo60, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foo60', new_foo60_path %>
