<p id="notice"><%= notice %></p>

<h1>Baz67s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @baz67s.each do |baz67| %>
      <tr>
        <td><%= baz67.foo1 %></td>
        <td><%= baz67.foo2 %></td>
        <td><%= baz67.foo3 %></td>
        <td><%= baz67.foo4 %></td>
        <td><%= baz67.foo5 %></td>
        <td><%= link_to 'Show', baz67 %></td>
        <td><%= link_to 'Edit', edit_baz67_path(baz67) %></td>
        <td><%= link_to 'Destroy', baz67, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Baz67', new_baz67_path %>
