<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @baz67.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @baz67.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @baz67.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @baz67.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @baz67.foo5 %>
</p>

<%= link_to 'Edit', edit_baz67_path(@baz67) %> |
<%= link_to 'Back', baz67s_path %>
