<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @baz11.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @baz11.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @baz11.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @baz11.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @baz11.foo5 %>
</p>

<%= link_to 'Edit', edit_baz11_path(@baz11) %> |
<%= link_to 'Back', baz11s_path %>
