<p id="notice"><%= notice %></p>

<h1>Bar32s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bar32s.each do |bar32| %>
      <tr>
        <td><%= bar32.foo1 %></td>
        <td><%= bar32.foo2 %></td>
        <td><%= bar32.foo3 %></td>
        <td><%= bar32.foo4 %></td>
        <td><%= bar32.foo5 %></td>
        <td><%= link_to 'Show', bar32 %></td>
        <td><%= link_to 'Edit', edit_bar32_path(bar32) %></td>
        <td><%= link_to 'Destroy', bar32, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bar32', new_bar32_path %>
