<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @bar32.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @bar32.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @bar32.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @bar32.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @bar32.foo5 %>
</p>

<%= link_to 'Edit', edit_bar32_path(@bar32) %> |
<%= link_to 'Back', bar32s_path %>
