<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @baz45.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @baz45.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @baz45.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @baz45.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @baz45.foo5 %>
</p>

<%= link_to 'Edit', edit_baz45_path(@baz45) %> |
<%= link_to 'Back', baz45s_path %>
