<p id="notice"><%= notice %></p>

<h1>Baz81s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @baz81s.each do |baz81| %>
      <tr>
        <td><%= baz81.foo1 %></td>
        <td><%= baz81.foo2 %></td>
        <td><%= baz81.foo3 %></td>
        <td><%= baz81.foo4 %></td>
        <td><%= baz81.foo5 %></td>
        <td><%= link_to 'Show', baz81 %></td>
        <td><%= link_to 'Edit', edit_baz81_path(baz81) %></td>
        <td><%= link_to 'Destroy', baz81, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Baz81', new_baz81_path %>
