<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @baz30.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @baz30.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @baz30.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @baz30.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @baz30.foo5 %>
</p>

<%= link_to 'Edit', edit_baz30_path(@baz30) %> |
<%= link_to 'Back', baz30s_path %>
