<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @foo77.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @foo77.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @foo77.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @foo77.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @foo77.foo5 %>
</p>

<%= link_to 'Edit', edit_foo77_path(@foo77) %> |
<%= link_to 'Back', foo77s_path %>
