<p id="notice"><%= notice %></p>

<h1>Bar70s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bar70s.each do |bar70| %>
      <tr>
        <td><%= bar70.foo1 %></td>
        <td><%= bar70.foo2 %></td>
        <td><%= bar70.foo3 %></td>
        <td><%= bar70.foo4 %></td>
        <td><%= bar70.foo5 %></td>
        <td><%= link_to 'Show', bar70 %></td>
        <td><%= link_to 'Edit', edit_bar70_path(bar70) %></td>
        <td><%= link_to 'Destroy', bar70, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bar70', new_bar70_path %>
