<p id="notice"><%= notice %></p>

<h1>Foo80s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foo80s.each do |foo80| %>
      <tr>
        <td><%= foo80.foo1 %></td>
        <td><%= foo80.foo2 %></td>
        <td><%= foo80.foo3 %></td>
        <td><%= foo80.foo4 %></td>
        <td><%= foo80.foo5 %></td>
        <td><%= link_to 'Show', foo80 %></td>
        <td><%= link_to 'Edit', edit_foo80_path(foo80) %></td>
        <td><%= link_to 'Destroy', foo80, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foo80', new_foo80_path %>
