<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @baz54.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @baz54.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @baz54.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @baz54.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @baz54.foo5 %>
</p>

<%= link_to 'Edit', edit_baz54_path(@baz54) %> |
<%= link_to 'Back', baz54s_path %>
