<p id="notice"><%= notice %></p>

<h1>Foo42s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foo42s.each do |foo42| %>
      <tr>
        <td><%= foo42.foo1 %></td>
        <td><%= foo42.foo2 %></td>
        <td><%= foo42.foo3 %></td>
        <td><%= foo42.foo4 %></td>
        <td><%= foo42.foo5 %></td>
        <td><%= link_to 'Show', foo42 %></td>
        <td><%= link_to 'Edit', edit_foo42_path(foo42) %></td>
        <td><%= link_to 'Destroy', foo42, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foo42', new_foo42_path %>
