<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @foo63.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @foo63.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @foo63.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @foo63.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @foo63.foo5 %>
</p>

<%= link_to 'Edit', edit_foo63_path(@foo63) %> |
<%= link_to 'Back', foo63s_path %>
