<p id="notice"><%= notice %></p>

<h1>Foo74s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foo74s.each do |foo74| %>
      <tr>
        <td><%= foo74.foo1 %></td>
        <td><%= foo74.foo2 %></td>
        <td><%= foo74.foo3 %></td>
        <td><%= foo74.foo4 %></td>
        <td><%= foo74.foo5 %></td>
        <td><%= link_to 'Show', foo74 %></td>
        <td><%= link_to 'Edit', edit_foo74_path(foo74) %></td>
        <td><%= link_to 'Destroy', foo74, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foo74', new_foo74_path %>
