<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @foo74.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @foo74.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @foo74.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @foo74.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @foo74.foo5 %>
</p>

<%= link_to 'Edit', edit_foo74_path(@foo74) %> |
<%= link_to 'Back', foo74s_path %>
