<p id="notice"><%= notice %></p>

<h1>Bar86s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bar86s.each do |bar86| %>
      <tr>
        <td><%= bar86.foo1 %></td>
        <td><%= bar86.foo2 %></td>
        <td><%= bar86.foo3 %></td>
        <td><%= bar86.foo4 %></td>
        <td><%= bar86.foo5 %></td>
        <td><%= link_to 'Show', bar86 %></td>
        <td><%= link_to 'Edit', edit_bar86_path(bar86) %></td>
        <td><%= link_to 'Destroy', bar86, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bar86', new_bar86_path %>
