<p id="notice"><%= notice %></p>

<p>
  <strong>Foo1:</strong>
  <%= @bar86.foo1 %>
</p>

<p>
  <strong>Foo2:</strong>
  <%= @bar86.foo2 %>
</p>

<p>
  <strong>Foo3:</strong>
  <%= @bar86.foo3 %>
</p>

<p>
  <strong>Foo4:</strong>
  <%= @bar86.foo4 %>
</p>

<p>
  <strong>Foo5:</strong>
  <%= @bar86.foo5 %>
</p>

<%= link_to 'Edit', edit_bar86_path(@bar86) %> |
<%= link_to 'Back', bar86s_path %>
