<p id="notice"><%= notice %></p>

<h1>Foo36s</h1>

<table>
  <thead>
    <tr>
      <th>Foo1</th>
      <th>Foo2</th>
      <th>Foo3</th>
      <th>Foo4</th>
      <th>Foo5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foo36s.each do |foo36| %>
      <tr>
        <td><%= foo36.foo1 %></td>
        <td><%= foo36.foo2 %></td>
        <td><%= foo36.foo3 %></td>
        <td><%= foo36.foo4 %></td>
        <td><%= foo36.foo5 %></td>
        <td><%= link_to 'Show', foo36 %></td>
        <td><%= link_to 'Edit', edit_foo36_path(foo36) %></td>
        <td><%= link_to 'Destroy', foo36, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foo36', new_foo36_path %>
